* {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

header h1 {
    align-self: center;
}

header ul {
    display: flex;
    gap: 3em;
}